* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://images2.alphacoders.com/743/743103.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

nav {
  width: 100%;
  font-weight: 500;
}

.app_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  margin-top: 10%;
  border-radius: 10px;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: #222831;
}

.links {
  display: flex;
  flex-direction: column;
  padding-top: 30%;
}

button {
  width: 10em;
  border-radius: 4px;
  align-self: center;
  outline: none;
  border: none;
  margin-bottom: 10px;
  background-color: #30475e;
}

.nav-link {
  color: #fff;
  font-weight: 500;
}
